<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Novo Aluno</title>
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
    </head>
   
    {{include ('common/navbar.html.twig')}}
    {{include ('common/import_assets.html.twig')}}
    
    <body>
        <form id="formExemplo" method="get">
            <div class="form-group">
              <label for="nome" class="control-label">Nome</label>
              <input name='name' id="nome" class="form-control" placeholder="Digite o Nome..." type="text">
            </div>

            <div class="form-group">
              <label for="email" class="control-label">Email</label>
              <input name='email' id="email" class="form-control" placeholder="Digite o E-mail" type="email">
            </div>
            
            <div class="form-group">
              <label for="prontuario" class="control-label">Prontuario</label>
              <input name='prontuario' id="prontuario" class="form-control" placeholder="Digite o Prontuario" type="text">
            </div>
            
            <div class="form-group">
              <label for="curso" class="control-label">Id Curso</label>
              <input name='curso' id="cusro" class="form-control" placeholder="Digite o Id do curso" type="text">
            </div>
            
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        </div>
    </body>

</html>